This is supposed to be a photo of #{@first['name']}

%br
%br

%img{:src => "http://farm#{@first["flickr_farm"].to_s}.static.flickr.com/#{@first["flickr_server"].to_s}/#{@first["photo_id"].to_s}_#{@first["flickr_secret"].to_s}.jpg"}

%br

%a{:href => "http://www.flickr.com/photos/#{@first['author_id']}/#{@first['photo_id'].to_s}"}
  View this photo on Flickr
  
%br
%hr
%br

%a{:href => "/unflag/#{@first['photo_id']}"}
  This is a photo of #{@first['name']}
  
%br
%br

This is not a photo of #{@first['name']} ...

%br

%a{:href => "/stop_mp_photo/#{@mp_name}/#{@first['photo_id']}"} 
  but there is another MP in this photo
  
%br

%a{:href => "/stop_photo/#{@first['photo_id']}"} 
  there is not an MP in this photo

%br
%br

%a{:href => '#'}
  I'm not sure
  
